.active {
	background-color: #232a45;
	border-radius: 18px;
	padding: 15px 44px;
	transform: translateX(-116px);
	transition: all 0.3s ease 0s;
}
@media (max-width: 768px) {
	.active {
		transform: translateX(0);
		padding: 15px;
	}
}
